# GeoPandas

In [9]:
import pandas as pd
import geopandas as gp
from shapely.geometry import Point

In [3]:
labels = [883991900000, 883991900001, 883991900000000, 
          883991900000001, 883991900000002]
lats = [47.8899192810059, 47.900390625, 47.8903403878212,
        47.8910404443741, 47.8921294212341]
lons = [-122.732318937778, -122.72741317749, -122.732139229774,
       -122.731820046902, -122.731310427189]

In [6]:
df = pd.DataFrame(index=labels, data={'lat': lats, 'lon': lons})
df.head()

                       lat         lon
883991900000     47.889919 -122.732319
883991900001     47.900391 -122.727413
883991900000000  47.890340 -122.732139
883991900000001  47.891040 -122.731820
883991900000002  47.892129 -122.731310

In [7]:
df['coordinates'] = list(zip(df.lon, df.lat))
df['coordinates'] = df['coordinates'].apply(Point)
df.head()

,lat,lon,coordinates
883991900000,47.889919,-122.732319,POINT (-122.732318937778 47.8899192810059)
883991900001,47.900391,-122.727413,POINT (-122.72741317749 47.900390625)
883991900000000,47.890340,-122.732139,POINT (-122.732139229774 47.8903403878212)
883991900000001,47.891040,-122.731820,POINT (-122.731820046902 47.8910404443741)
883991900000002,47.892129,-122.731310,POINT (-122.731310427189 47.8921294212341)

In [11]:
gdf = gp.GeoDataFrame(df, geometry='coordinates', crs={'init': 'epsg:4326'})
gdf.head()

,lat,lon,coordinates
883991900000,47.889919,-122.732319,POINT (-122.732318937778 47.8899192810059)
883991900001,47.900391,-122.727413,POINT (-122.72741317749 47.900390625)
883991900000000,47.890340,-122.732139,POINT (-122.732139229774 47.8903403878212)
883991900000001,47.891040,-122.731820,POINT (-122.731820046902 47.8910404443741)
883991900000002,47.892129,-122.731310,POINT (-122.731310427189 47.8921294212341)

In [12]:
gdfp = gdf.to_crs({'init': 'epsg:3395'})
gdfp.head()

,lat,lon,coordinates
883991900000,47.889919,-122.732319,POINT (-13662499.24803109 6056846.233746414)
883991900001,47.900391,-122.727413,POINT (-13661953.14129388 6058579.510538366)
883991900000000,47.890340,-122.732139,POINT (-13662479.2430276 6056915.930951803)
883991900000001,47.891040,-122.731820,POINT (-13662443.71175282 6057031.798268416)
883991900000002,47.892129,-122.731310,POINT (-13662386.98114587 6057212.039448578)

In [14]:
gdfp.loc[883991900000]

lat                                                 47.8899
lon                                                -122.732
coordinates    POINT (-13662499.24803109 6056846.233746414)
Name: 883991900000, dtype: object